:root{
    /*--------Azules-----------*/

    --azul1 : #73c3e0 ; 
    --azul2 : #50b7d7 ;
    --azul3 : #aad3e9 ;
    --azul4 : rgb(177, 228, 245) ;

    /*--------Verdes------------*/
    --verde1 : #223929 ;
    --verde2 : #73a555 ;
    --verde3 : #75ab7c ;
    --verde4 : #b1e4f5 ;

    /*-------Amarillo-----------*/
    --amarillo1 : #fbdc05 ;
    --amarillo2 : #eec104 ;
    --amarillo3 : #fae726 ;
    --amarillo4 : #dbae09 ;

    --white : white ;

}
@font-face {
    font-family: m1;
    src: url(./Anton-Regular.ttf);
} 

*{
    
    letter-spacing: 2px ;
    margin: 0 ;
    box-sizing: border-box;
}

.page {
    width: 100% ;
    height: 100vh ;
    background: #223929;
    background-image: url(./thomas-verbruggen-5A06OWU6Wuc-unsplash.jpg);
    background-size: cover ;
    background-position: bottom;
    background-attachment: fixed ;
    display: flex ;
    align-items: center ;
    justify-content: center ;

}
.container {
    position: relative;
    height: 90% ;
    width: 90% ;
    background: rgba(255, 255, 255, 0.6) ;
    backdrop-filter: blur(300deg );
    border-radius: 20px;
    overflow: hidden;
}
.header {
 
   
}
.texto{
   position: absolute;
    width: 100% ;
    height: 100vh;
    overflow: hidden;
    text-align: center ;
    text-transform: uppercase ;
    font-size: 200px ;
    font-weight: bold ;
    display: flex ;
    justify-content: center ;
    align-items: flex-end;
    
    background-image: url(./thomas-verbruggen-5A06OWU6Wuc-unsplash.jpg);
    background-size: cover ;
    background-position: bottom;
    background-attachment: fixed;
    -webkit-background-clip: text ;
    -webkit-text-fill-color: transparent;
}
.Bx{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    
}
.cardBx {
    position: relative;
    z-index: 10000000000;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    max-width: 80%;
    min-height: 20%;
    background: transparent;
    margin: 10px;
}
.imgBx {
    position: relative ;
    width: 100% ;
    height: 100% ;
    display: flex ;
    align-items: flex-end ;
    justify-content: center ;   
    font-size: 8em;
    display: flex ;
    background: yellow;
    
}

.content {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex ;
    align-items: center;
    justify-content: center ;
}
@media  (max-width: 872px) {
    .texto{
        position: absolute;
         width: 100% ;
         height: 100vh;
         overflow: hidden;
         text-align: center ;
         text-transform: uppercase ;
         font-size: 80px ;
         font-weight: bold ;
         display: flex ;
         justify-content: center ;
         align-items: flex-end;
         bottom: 50px;
         background-image: url(./thomas-verbruggen-5A06OWU6Wuc-unsplash.jpg);
         background-size: cover ;
         background-position: bottom;
         background-attachment: fixed;
         -webkit-background-clip: text ;
         -webkit-text-fill-color: transparent;
     }
}