@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
    font-family: 'Poppins', sans-serif;
    top: 0;
    
}
:root{
  --verde1 : #223929 ;
}



.bar {
    position: absolute ;
    z-index: 1;
    width: 100% ;
    height: 40px ;
    z-index: 10;
    display: flex ;
    justify-content: center;
}

.hamburguerMenu{
    position: relative ;
    width: 800px;
    height: 100%; 
    display: flex;  
    align-items: center ;
    justify-content: center;
}
.list {
    position: relative ;
    width: 100% ;
    height: 50% ;
}
.list .dropdown {
    position: relative;
    display: flex ;
    justify-content: space-around ;
    align-content: center ; 
}
.list .dropdown li {
    font-size: 0.8em;
    list-style: none;
    color: black;

}
.list .dropdown li .a, .active {
    text-decoration: none ;
    color: var(--verde1);
   
}
.a:link, .active {
    text-decoration: none ;
    color: orangered ;
}

.active {
    color:  ;
}
.menu {
    visibility: hidden ;
    position: absolute;
}

/*-------------Menu del catalogo -----------*/

.sBar {
  display: flex ;
  align-items: center ;
  justify-content: center;
  position: absolute;
  top: 26px;
  padding: 10px;
  background-color: rgba(231, 227, 227,0.9) ;
  border-radius: 5px;
}
.sBar ul li{
  margin: 10px; 
  width: 100px;
  padding: 5px;
}
.sBar ul li:hover{
  background-color: #fdc5c5;
  border-radius:5px ;
}
.menu1{
  font-size: 1.2em;  
}

.menu1 .cMenu{
  position: relative;
  color: var(--verde1);
}

.cMenu:link{
  text-decoration: none ;
  color: var(--verde1);
}
.Active1 {
  visibility: visible ;
}
.notActive1{
  visibility: hidden ;
}
.catalogueMenu {
  display: flex;
}
.menuIndicator{
  display: flex ;
  align-items: center ;
  justify-content: center;
  min-width: 20px;
  cursor: pointer;
  font-size: 1.2em;
  border-radius: 4px;
}
.bicon{
  color: var(--verde1);
}
.Active {
  visibility: visible ;
}
.user{
  font-size: 0.8em;
}
.log,.sing{
  position: relative;
  width: 80px ;
  height: 32px;
  display: flex ;
  align-items: center ;
  justify-content: center;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer ;
  top: -7px;
}
.log{
  background: #4ed376 ;
  color: whitesmoke;
}
.sing{
  color: #223929;
  border: solid 1px var(--verde1);
}
.log:hover{
  background: orangered;
  color: whitesmoke;
}
.sing:hover{
  background: var(--verde1);
  color: whitesmoke;
}
.cartjoin{
  position: relative;
  display: flex;
  width: 300px;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}
.cart{
  width: 50px ;
  height: 30px;
  font-size: 25px;

}
.cartCircle{
  position: absolute;
  width: 15px ;
  height: 15px ;
  background: orangered ;
  border-radius: 50% ;
  display: flex ;
  align-items: center ;
  justify-content: center ;
  left: 265px;
  top: 3px;
  z-index: 100000000000000000;
  
}
.cartCircle .articles{
  position: relative;
  color: aliceblue ;
  font-size: 0.5em ;
  font-weight: bolder;

}
.iconCart{
  cursor: pointer;
  font-size: 0.9;
}
.log:link{
  text-decoration: none;
}
.cCart:link {
  text-decoration: none ;
  color: var(--verde1) ;

}

.cCart{
  color: var(--verde1);
  position: relative ;
  z-index: 1000000000000000000000000000000000;
}

@media  (max-width: 578px) {
  .bar {
    display: flex ;
    justify-content: space-between;  
}
   .hamburguerMenu {
    position: absolute;
    display: flex ;
    width: 100%;
    z-index: 1000000;
    justify-content: end ; 
    
   } 
   .hamburguerMenu .list {
    min-height: 20px;
   
   }
   .menu {
    visibility: visible ;
    cursor: pointer ;
    height: 10px;
   }
   .Micon{
    position: relative;
    font-size: 1.3em;
    top: -20px; 
   }
  .list {
    position: relative;
    display: block ;
    width: 50%;
    bottom: 50px;
  }
 
  .list .dropdown{
    display: block ;
    min-width: 20px;
    min-height: 50px ;
    border-radius: 5px;
    background: rgba(255, 255, 255,0.8) ;
    backdrop-filter: blur(10px);
    bottom: 50px;
    
    
  }
   .menu {
    position: relative;
    width: 100%;
    display: flex ;
    align-items: center ;
    justify-content: end;
    padding: 30px ;
  }

  li {
    position: relative;
    width: 100%;
    display: flex ;
    align-items: center ;
    justify-content: center;
    padding: 10px ;
    /*margin-bottom: 20px;
    margin-top: 20px;*/
   
    
  }
  .user{
    display: flex ;
    align-items: center ;
    justify-content: space-around ;
    width: 120px;
    height: 50px;
    z-index: 1000000000000000000000;
  }
  .log, .sing{
    width: 56px ;
    height: 20px;
    font-size: 0.8em;
  }

  .cart{
    width: 50px ;
    height: 55px;
    display: flex ;
    align-items: center ;
    justify-content: center ;
    font-size: 20px;
    margin-right: 50px;
  }
  .Active {
    visibility: visible ;
  }
  .notActive{
    visibility: hidden ;
  }
  .log,.sing{
    background: transparent;
    color: #223929;
    font-size: 1em;
    width: 100%;
    border: none;
    top: 0px;
  }
  .log:hover, .sing:hover{
    background: transparent;
    color: var(--verde1);
  }
  
/*----------Menu del catalogo----------------*/

.sBar {
  top: 0;
  position: relative;
  background-color: rgba(231, 227, 227,0.9) ;
  border-radius: 10px;
  top: 10px;
}


.menu1 .cMenu{
  position: relative;
}


.Active1 {
  visibility: visible ;
}
.notActive1{
  visibility: hidden ;
  position: absolute;
}
.catalogueMenu {
  display: flex;
  align-items: center ;
  justify-content: center;
}
.menuIndicator{
  display: flex ;
  align-items: center ;
  justify-content: center; 
}

.bicon{
  color: var(--verde1);
}
.cartjoin{
  padding: 0;
  display: flex;
  justify-content: flex-start;
  
}

}